%tr{ the('fact') }

  %td{ the('day') }
    = day

  %td{ the('minutes-count') }
    = duration

  %td{ the('start-time') }
    = start_time

  %td{ the('end-time') }
    = end_time

  %td{ the('description') }
    = description